/* FixedButton.css */
.fixed-button {
    position: fixed;
    bottom: 64px; /* Adjust the distance from the bottom as needed */
    left: 32px;   /* Adjust the distance from the left as needed */
    background-color: black; /* Set your desired background color */
    color: #fff;  /* Set your desired text color */
    border: 2px solid white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    /* Add any additional styling you need */
  }
  